@model ServiceVM

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddService</h1>

@*<form method="post">
    @Html.Label("Baslık")
    <input type="text" asp-for="Service.Title" class="form-control" />
    <br />

    @Html.Label("Acıklama")
    <input type="text" asp-for="Service.Description" class="form-control" />
    <br /> 
    @Html.Label("Image Yolu")
    <input type="text" asp-for="Service.Image" class="form-control" />
    <br /> 
    <button class="btn btn-primary"> Kaydet </button>
</form>
*@

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni hizmet kaydı</h4>
           
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Baslık</label>
                    <input type="text" asp-for="Service.Title" class="form-control" id="exampleInputName1" placeholder="Baslık">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Gorsel</label>
                    <input type="text" asp-for="Service.Image" class="form-control" id="exampleInputEmail3" placeholder="Gorsel">
                </div>
              
             
                <div class="form-group">
                    <label for="exampleTextarea1">Acıklama</label>
                    <textarea class="form-control" asp-for="Service.Description" id="exampleTextarea1" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                <button class="btn btn-light">Vazgec</button>
            </form>
        </div>
    </div>
</div>